html,
body {
background-color: #444;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}